<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
<appSettings>	
	<add key="FilePath" value="C:\Vel\2018\Projects\MatrixComputationAndDisplay\MatrixComputationAndDisplay.Test\test1.prn" />
	<add key="InValidFilePath" value="C:\Vel\2018\Projects\MatrixComputationAndDisplay\MatrixComputationAndDisplay.Test\invalidtest.prn" />
	<add key="Precision" value="6"/>
</appSettings>
</configuration>